.active-auction {
    flex: 1;

    .auc-wrap {
        border-radius: 20px;
        background-color: white;
        padding: 20px;

        .active-image {
            width: 100%;
            border-radius: 20px;
            max-height: 500px;
            object-fit: cover;
        }
    
        .active-data {
            display: flex;
            flex-direction: row;
            margin-top: 20px;

            .section {
                flex: 1;
            }
        }

        button {
            margin-top: 10px;
        }
    }
}