@import "variables.scss";

.past-auction {
    display: flex;
    flex-direction: row;
    background-color: white;
    box-shadow: $shadow-color 0px 8px 24px;
    border-radius: 20px;
    padding: 10px;
    
    .thumbnail {
        border-radius: 20px;
        width: 70px;
        height: 70px;
        object-fit: cover;
    }

    .description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-left: 20px;
    }
}

.active {
    border: 1px solid black;
}

.past-auction:hover {
    border: 1px solid $text-color;
}