.auction-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: row;
}

.active-auction {
    flex: 1;
}

.auction-spacer {
    flex: 1;
    max-width: 60px;
}

.past-auctions {
    flex: 1;
}