@import "variables.scss";

.caption {
    font-size: 11px;
    opacity: 0.8;
}

.value {
    margin-bottom: 5px;
}

.haptics {
    width: 100%;
    height: 100%;
    position: relative;

    svg {
        width: 20px;
        color: #435F66;
    }

    .extra-info {
        z-index: 1;
        position: absolute;
        left: 5%;
        bottom: 0;
        margin-bottom: 50px;

        p {
            opacity: 0.5;
            font-size: 12px;
        }

        .coords {
            margin-bottom: 5px;
        }

        .web3-status {
            display: flex;
            align-items: center;

            p {
                margin-left: 3px;
            }
        }
    }

    .zoom {
        background-color: white;
        position: absolute;
        right: 5%;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 50px;
        height: 100px;
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        box-shadow: $shadow-color 0px 8px 24px;
        z-index: 4;
    
        .plus {
            border-bottom: 0.1px solid #DCE4E6;
        }

        div {
            flex-grow: 1;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        div:hover {
            cursor: pointer;
        }
    }

    .context {
        z-index: 5;
        background-color: white;
        position: absolute;
        right: 5%;
        bottom: 0;
        margin-bottom: 50px;
        height: 60px;
        width: 150px;
        border-radius: 30px;
        transition: opacity 300ms ease-in;
        box-shadow: $shadow-color 0px 8px 24px;

        .information {
            height: 100%;
            padding: 10px;
            display: flex;
            flex-direction: column;

            .more-info {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                width: 100%;
            }

            .editor {
                margin-top: auto;


                .input-container {
                    margin-bottom: 5px;


                    position: relative;

                    button {
                        position: absolute;
                        max-height: 80%;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                        right: 5px;
                        width: 30%;
                        padding: 2px;
                        background-color: transparent;
                    }
                }

                button {
                    transition: 0.2s ease;
                }

                .metamask-button {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    svg {
                        height: 20px;
                        margin-right: 10px;
                    }
                }
            }
        }
    }

    .mini-header {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        width: 100%;
        height: 100%;
        max-height: 60px;

        .color {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 60px;
            padding-left: 10px;

            .color-circle-border-wrap {
                background-color: $grid-2-color;
                position: relative;
                padding: 2px;
                border-radius: 45px;

                .color-circle {
                    width: 43px;
                    height: 43px;
                    border-radius: 25px;
                    background-color: black;
                }
            }
        }

        .color-description {
            width: 100%;
            max-width: 90px;
            padding: 5px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .text {
                overflow: hidden;
                white-space: nowrap;
                padding-left: 10px;

                h4, p {
                    text-overflow: ellipsis;
                }
            }
        }
    }

    .context-expanded {
        width: 250px;
        height: 270px;
        display: flex;
        flex-direction: column;

        .mini-header {    
            .color-description {
                max-width: none; 
            }

            .close {
                display: flex;
                align-items: center;
                justify-content: center;
                min-width: 60px;
            }
        }
    }

    .context-inactive {
        opacity: 0;
        transform: translateY(-10px);
        transition: opacity 300ms ease-in;
    }

    .logs {
        z-index: 3;
        position: absolute;
        right: 5%;
        top: 0;
        margin-top: 100px;
        width: 250px;

        .top {
            opacity: 1 !important;
        }

        .log {
            text-overflow: ellipsis;
            overflow: hidden;
            opacity: 0.5;
            display: flex;
            flex-direction: row;
            padding: 5px;
            border-radius: 25px;
            background-color: white;
            box-shadow: $shadow-color 0px 8px 24px;

            p {
                margin-left: 5px;
            }
        }
    }

    .socials {
        position: absolute;
        left: 5%;
        top: 50%;
        transform: translateY(-50%);
        margin: auto;
        display: flex;
        flex-direction: column;

        .social {
            color: $text-color;
            opacity: 0.1;
        }

        .social:hover {
            opacity: 0.2;
        }
    }
}

.fadeOut {
    opacity: 0;
    transition: opacity 300ms ease-in;
}

.fadeIn {
    opacity: 1;
    transition: opacity 300ms ease-in;
}